header {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    background-color: rgb(63, 63, 63);
}
button {
    box-shadow: 1px 1px 1px;
}
main {
    height: 550px;
    background-color: rgb(100, 99, 99);
}
.currentPage {
    color: rgb(136, 134, 134);
    box-shadow: none;
}
.currentPage:hover {
    background-color: rgb(211, 206, 206);
    border-width: 1px;
}
.currentPage:hover {
    cursor: default;
}
.seperation {
    margin: 5pt;
}
button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #a8a8a8;
}