html{
    overflow: hidden;
    height: 100%;
}
header {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
th {
    color: black;
    background-color: white;
    border-color: black;
    border-width: 5px;
}
td {
    color: black;
    background-color: white;
    border-color: black;
    border-width: 2px;
}
a {
    color: white;
}
nav a {
    text-decoration: none;
    color: black;
}
nav {
    background-color: rgb(63, 63, 63);
}
button {
    box-shadow: 1px 1px 1px;
    flex: none;
}
button:hover {
    cursor: pointer;
    box-shadow: none;
    background-color: #a8a8a8;
}
main {
    min-height: 550px;
    max-height: 600px;
    overflow: auto;
    margin-top: -16px;
    background-color: rgb(100, 99, 99);
    color: white;
}
footer {
    position: sticky;
}
.currentPage {
    color: rgb(136, 134, 134);
    box-shadow: none;
}
.currentPage:hover {
    background-color: rgb(211, 206, 206);
}
.currentPage:hover {
    cursor: default;
}
.seperation {
    margin: 5pt;
}
#wrapper {
    box-shadow: 5px 5px 5px;
    width: 97%;
    margin-top: 10px;
    margin-left: 10px;
}
#spacing {
    margin: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
}